.pagination-wrapper {
  margin-top: 2.25rem;
  display: flex;
  gap: 0.65rem;

  span {
    border: 1px solid lightgray;
    padding: 0.35rem 0.75rem;
    border-radius: 6px;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-out;

    &:hover {
      cursor: pointer;
      background-color: #ffc4c0;
    }

    svg {
      pointer-events: none;
    }
  }

  .active-paginate {
    background-color: #fa4032;
    color: white;
  }
}
