@use '../../responsive.scss' as *;

.cart-button {
  width: 32px;
  margin-right: 1.5rem;
  margin-left: 0.75rem;
  position: relative;

  @include lg {
    width: 30px;
    margin-right: 1rem;
  }

  // @include md {
  //   display: none;
  // }

  .bubble {
    background-color: #ffb200;
    width: 26px;
    height: 26px;
    // padding: 0.5rem;
    text-align: center;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    top: -13px;
    right: -8px;

    @include lg {
      width: 20px;
      height: 20px;
      top: -9px;
    }

    span {
      font-size: 12px;
      font-weight: 700;
      color: white;
    }
  }
}
