.invoice-wrapper {
  margin: auto;
}

.checkout-button-wrapper {
  width: 70%;
  margin: auto;
  margin-top: 2rem;

  a {
    display: flex;
    text-decoration: none;
    button {
      margin-left: auto;
    }
  }
}
