.invoice-wrapper {
  margin: auto;
}

.checkout-button-wrapper {
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;

  a {
    text-decoration: none;
  }
}
