button {
  cursor: pointer;
}

button:disabled {
  background-color: lightslategrey;
  border: 1px solid lightslategrey;
  color: white;
  border: white;
  opacity: 0.2;
  font-size: 1.15rem;
  padding: 0.25rem 0.75rem;
  cursor: not-allowed;
}

.green-filled {
  background-color: #5dac51;
  border: 1px solid #5dac51;
  color: white;
  padding: 0.25rem 0.75rem;
  font-size: 1.15rem;
  border-radius: 6px;
}

.outline {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.25rem 0.75rem;
  font-size: 1.15rem;
  border-radius: 6px;
}

.outline-reversed {
  background-color: transparent;
  border: 1px solid #fa4032;
  color: #fa4032;
  padding: 0.25rem 0.75rem;
  font-size: 1.15rem;
  border-radius: 6px;
}

.filled {
  background-color: white;
  border: 1px solid white;
  color: #fa4032;
  padding: 0.25rem 1.25rem;
  font-size: 1.15rem;
  border-radius: 6px;
  margin-left: 0.5rem;
}

.filled-reversed {
  background-color: #fa4032;
  border: 1px solid #fa4032;
  color: white;
  padding: 0.25rem 1.25rem;
  font-size: 1.15rem;
  border-radius: 6px;
}
