@use '../../responsive.scss' as *;

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  place-items: center;

  .modal-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: white;
    padding: 3rem 3rem 1.75rem 3rem;
    border-radius: 8px;

    @include sm {
      padding-inline: 2rem;
      width: 90%;
    }

    @include xs {
      padding-inline: 1rem;
    }

    p {
      margin-top: 0.15rem;
      font-size: 1.5rem;

      @include sm {
        font-size: 1.25rem;
      }

      @include xs {
        font-size: 1.15rem;
      }

      @include xxs {
        font-size: 1rem;
      }
    }

    .warning-icon {
      font-size: 96px;

      @include sm {
        font-size: 82px;
      }

      @include xs {
        font-size: 64px;
      }
    }
  }

  .button-modal-wrapper {
    display: flex;
    gap: 0.5rem;
    margin-top: 1.5rem;
    width: 100%;

    @include sm {
      padding-inline: 1.25rem;
      margin-top: 0.85rem;
    }

    @include xs {
      padding-inline: 0;
    }

    button {
      flex: 1;
      width: 100%;

      @include sm {
        font-size: 1rem;
      }

      @include xs {
        font-size: 0.95rem;
      }
    }

    a {
      flex: 1;
    }
  }

  .close-modal {
    position: absolute;
    top: 12px;
    right: 10px;
    border: none;
    background-color: transparent;
  }
}
