.tag {
  background-color: lightgray;
  display: inline-flex;
  gap: 2px;
  padding: 2px 8px;
  align-items: center;
  border-radius: 16px;

  .tag-icon {
    width: 16px;
  }

  p {
    font-weight: bold;
    font-size: 12px;
    color: white;
  }
}
