.invoice-table-wrapper {
  max-width: 1440px;
  margin: auto;

  .invoice-table {
    width: 70%;
    border-collapse: collapse;
    margin-inline: auto;
    margin-top: 2rem;

    thead {
      color: white;
      border-right: 2px solid #fa4032;
      border-left: 2px solid #fa4032;

      tr {
        background-color: #fa4032;
      }

      th {
        padding-block: 0.65rem;
        text-transform: uppercase;

        &:first-child {
          padding-left: 1rem;
        }

        &:last-child {
          text-align: right;
          padding-right: 1rem;
        }

        img {
          width: 100px;
        }
      }
    }

    tbody {
      border-left: 2px solid #fa4032;
      border-right: 2px solid #fa4032;
      font-size: 1.05rem;

      tr {
        &:last-child {
          border-bottom: 2px solid #fa4032;
        }

        td {
          padding: 1rem;

          &:first-child {
            width: 180px;
          }
        }
      }
    }
  }
}
