@use '../../responsive.scss' as *;

.invoice-table-wrapper {
  max-width: 1440px;
  margin: auto;

  .invoice-table {
    width: 70%;
    border-collapse: collapse;
    margin-inline: auto;
    margin-top: 2rem;

    @include lg {
      width: 90%;
    }

    @include md {
      width: 95%;
    }

    @include sm {
      width: 100%;
    }

    thead {
      color: white;
      border-right: 2px solid #fa4032;
      border-left: 2px solid #fa4032;

      tr {
        background-color: #fa4032;
      }

      th {
        padding-block: 0.65rem;
        text-transform: uppercase;

        &:first-child {
          padding-left: 1rem;
        }

        &:last-child {
          text-align: right;
          padding-right: 1rem;
        }

        img {
          width: 100px;
        }
      }
    }

    tbody {
      border-left: 2px solid #fa4032;
      border-right: 2px solid #fa4032;
      font-size: 1.05rem;

      tr {
        &:last-child {
          border-bottom: 2px solid #fa4032;
        }

        td {
          padding: 1rem;

          @include md {
            font-size: 1rem;
          }

          @include sm {
            font-size: 0.95rem;
          }

          @include xs {
            font-size: 0.85rem;
          }

          &:first-child {
            width: 180px;

            @include sm {
              width: 140px;
            }

            @include xs {
              width: 120px;
            }
          }
        }
      }
    }
  }
}

.invoice-button-wrapper {
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;

  @include lg {
    width: 90%;
  }

  @include md {
    width: 95%;
  }

  @include sm {
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}
