@use '../../responsive.scss' as *;

.user-profile {
  padding-left: 2rem;
  max-width: 684px;

  @include md {
    padding-left: 0;
  }

  // @include sm {
  //   padding-left: 0;
  // }

  h3 {
    margin-bottom: 0.5rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      background-color: #fa4032;
      padding-block: 0.48rem;
      color: white;
    }

    td {
      padding-block: 0.35rem;
    }

    tr:first-of-type td {
      padding-top: 1rem;
    }

    tr td:first-child {
      width: 25%;

      @include md {
        width: 35%;
      }
    }
  }
}
