@use '../../responsive.scss' as *;

.confirm-order-table {
  width: 100%;
  margin-top: 1.5rem;
  border-collapse: collapse;

  tr {
    &:first-child {
      border-top: 1px solid #fa4032;
    }

    &:last-child {
      font-weight: 700;
    }
  }

  td {
    font-size: 1.15rem;
    padding: 0.75rem;
    border-bottom: 1px solid #fa4032;

    @include sm {
      font-size: 1rem;
    }

    @include xs {
      font-size: 0.95rem;
    }

    @include xxs {
      font-size: 0.85rem;
    }
  }
}

.confirm-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  & button:last-child {
    font-weight: 700;
  }

  .green-filled {
    transition: all 0.4s ease;

    &:hover {
      box-shadow: rgba(80, 200, 120, 0.5) 0px 0px 30px 0px;
      // background-color: rgb(80, 200, 120);
    }
  }
}
