@use '../../responsive.scss' as *;

.home {
  max-width: 1440px;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;

  h1 {
    color: lightslategrey;
    font-weight: normal;
  }

  .tag-wrapper {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25rem;

    span {
      font-weight: bold;
      font-size: 1.25rem;
    }

    .skeleton.tags {
      width: 82px;
      height: 25px;
    }
  }

  .card-wrapper {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    // gap: 2rem;
    // justify-content: center;
    // align-items: flex-start;

    @include lg {
      justify-content: center;
    }

    @include md {
      gap: 1.35rem;
    }
  }

  .empty-search {
    font-size: 2rem;
    font-weight: 700;
    color: lightgray;
    margin-top: 6rem;
    text-align: center;
  }

  .home-skeleton {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    // justify-content: space-between;
  }

  .mobile-nav-wrapper {
    background-color: #fb5347;
    color: white;
    position: fixed;
    top: 70px;
    right: 0;
    width: 400px;
    height: 100vh;
  }
}
