@use '../../responsive.scss' as *;

.header {
  background-color: #fa4032;
  padding-block: 0.65rem;
  position: sticky;
  top: 0;
  z-index: 99;

  .navbar {
    max-width: 1440px;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;

    .logo {
      max-width: 220px;
      cursor: pointer;

      @include lg {
        max-width: 186px;
      }

      @include md {
        max-width: 156px;
      }

      @include sm {
        max-width: 148px;
      }
    }

    a {
      text-decoration: none;
    }

    .account-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: white;
      border: 1px solid white;
      padding: 0.5rem 0.75rem;
      border-radius: 4px;
      margin-left: 0.65rem;
      transition: all 0.4s ease;

      &:hover {
        background-color: white;
        color: #fa4032;

        svg {
          fill: #fa4032;
        }
      }

      p {
        font-weight: 700;
        line-height: 0.9;
      }
    }

    .auth-wrapper {
      @include md {
        display: none;
      }
    }

    .custom-dropdown {
      @include sm {
        display: none;
      }
    }

    .cart-link {
      @include md {
        display: none;
      }
    }

    button.outline {
      @include lg {
        font-size: 1rem;
      }
    }

    button.filled {
      @include lg {
        font-size: 1rem;
      }
    }

    .hamburger-menu {
      display: none;
      margin-left: 0.75rem;

      @include md {
        display: block;
      }

      .close-icon-mobile {
        font-size: 28px;
        @include sm {
          font-size: 24px;
        }
      }

      .hamburger-icon-mobile {
        font-size: 28px;
        @include sm {
          font-size: 24px;
        }
      }
    }
  }

  .mobile-nav-wrapper {
    background-color: #fb5347;
    color: white;
    position: fixed;
    top: 71px;
    right: 0;
    width: 360px;
    height: 100vh;
    transform: translateX(400px);
    transition: all 0.3s ease-in;

    &.slide-in {
      transform: translateX(0);
    }

    @include sm {
      top: 65px;
      width: 100%;
    }
  }
}
