.header {
  background-color: #fa4032;
  padding-block: 0.65rem;

  .navbar {
    max-width: 1440px;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;

    .logo {
      max-width: 220px;
      cursor: pointer;
    }

    a {
      text-decoration: none;
    }

    .account-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: white;
      border: 1px solid white;
      padding: 0.5rem 0.75rem;
      border-radius: 4px;
      margin-left: 0.65rem;
      transition: all 0.4s ease;

      &:hover {
        background-color: white;
        color: #fa4032;

        svg {
          fill: #fa4032;
        }
      }

      p {
        font-weight: 700;
        line-height: 0.9;
      }
    }
  }
}
