.address-form-wrapper {
  display: flex;
  margin-top: 1rem;
  gap: 1.5rem;

  .address-name {
    flex: 1;
  }

  .address-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .input-group {
    display: flex;
    flex-direction: column;

    input[type='text'] {
      margin-bottom: 0.5rem;
      padding-left: 0.35rem;
      padding-block: 0.15rem;
    }

    textarea {
      resize: none;
      padding-left: 0.35rem;
      padding-top: 0.15rem;
    }

    label {
      margin-bottom: 0.1rem;
    }

    select {
      padding-block: 0.15rem;
      padding-left: 0.15rem;
    }

    .input-error {
      border: 1px solid red !important;
      margin-bottom: 0.25rem !important;
      border-radius: 4px;
    }

    .error-wrapper {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      margin-bottom: 0.75rem;

      p {
        color: red;
        margin-top: 0;
      }
    }
  }
}

.btn-submit {
  width: 100%;
  margin-top: 1.5rem;
  padding-block: 0.25rem;
  background-color: #fa4032;
  border: 1px solid #fa4032;
  color: white;
  font-weight: 700;
  border-radius: 4px;
}
