@use '../../responsive.scss' as *;

.breadcrumbs-wrapper {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;

  @include md {
    gap: 0.25rem;
    // justify-content: center;
  }

  @include sm {
    gap: 0.15rem;
  }

  .breadcrumbs-items {
    font-size: 1.5rem;
    color: lightslategrey;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include lg {
      font-size: 1.35rem;
    }

    @include md {
      font-size: 1.15rem;
      gap: 0.25rem;
    }

    @include sm {
      font-size: 1rem;
      gap: 0.15rem;
    }
  }

  .active-crumbs {
    color: #fa4032;
    text-decoration: underline;
  }
}
