@use '../../responsive.scss' as *;

.order-profile {
  padding-left: 2rem;
  // position: relative;
  max-width: 684px;

  @include md {
    padding-left: 0;
    // max-width: 500px;
    overflow-x: scroll;
  }

  @include sm {
    padding-left: 0;
    overflow-x: hidden;
  }

  @include xs {
    overflow-x: scroll;
  }

  .empty-order {
    font-size: 1.45rem;
    margin-top: 3rem;
    text-align: center;
    font-weight: 700;
    color: lightgray;
  }

  .invoices-button {
    background-color: green;
    border: none;
    color: white;
    font-size: 0.75rem;
    border-radius: 4px;
    font-weight: 700;
    padding: 0.25rem 0.5rem;
  }

  .rotate {
    transform: rotate(90deg);
  }

  .order-details {
    border-bottom: 1px solid red;

    th {
      color: black;
      background-color: white;
      text-align: center;
      padding-left: 2rem;
    }

    th:first-child {
      text-align: left;
    }
  }

  .order-details-value {
    td {
      padding-left: 2rem;
      text-align: center;
      background-color: #ffeceb;
    }

    td:first-child {
      text-align: left;
    }
  }

  .invoice-modal-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;

    .invoice-modal {
      position: relative;
      width: 50%;
      margin-inline: auto;

      @include xl {
        width: 60%;
      }

      @include lg {
        width: 70%;
      }

      @include sm {
        width: 90%;
      }

      @include xs {
        width: 95%;
      }

      .close-button {
        position: absolute;
        font-size: 48px;
        // top: 100px;
        // right: 445px;
        top: -60px;
        right: -10px;
        cursor: pointer;

        @include lg {
          font-size: 42px;
          top: -45px;
        }

        @include md {
          font-size: 38px;
          top: -42px;
        }

        @include sm {
          font-size: 32px;
          top: -35px;
          right: -6px;
        }
      }

      .invoice-table-wrapper {
        .skeleton-invoice {
          thead {
            th {
              padding-block: 0.75rem;
            }

            th:last-child {
              padding-right: 1rem;

              .skeleton {
                margin-left: auto;
              }
            }
          }
          .skeleton {
            margin: 0;
          }

          tbody {
            tr:nth-child(4) {
              .skeleton:nth-child(2) {
                margin-block: 10px;
              }
            }

            tr:nth-child(5) {
              td:nth-child(2) {
                .skeleton.tags {
                  margin-top: 6px;
                }
              }
            }
          }

          // .skeleton:nth-child(3) {
          //   background-color: blue;
          //   margin-block: 10px;
          // }
        }
      }

      table {
        margin-top: 10rem;
        width: 100%;
        margin-inline: auto;

        @include xxs {
          margin-top: 5rem;
        }

        tr {
          td {
            text-align: left;
            background-color: #fff;
          }
        }
      }
    }
  }

  table {
    width: 100%;
    // overflow-x: scroll;
    border-collapse: collapse;

    @include md {
      width: 600px;
      // overflow-x: scroll;
    }

    @include sm {
      width: 100%;
    }

    @include xs {
      width: 600px;
    }

    th {
      background-color: #fa4032;
      padding-block: 0.48rem;
      color: white;
    }

    tr:nth-of-type(2n - 1) {
      background-color: rgb(247, 247, 247);
    }

    td {
      padding-block: 0.65rem;
      text-align: center;

      @include sm {
        font-size: 0.85rem;
      }
    }

    tbody {
      tr {
        .expand-button {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.3s ease;

          & > * {
            pointer-events: none;
          }
        }
      }
    }
  }
}
