@use '../../responsive.scss' as *;

.mobile-nav {
  padding: 0.15rem 1rem;

  .mobile-category-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
    justify-content: center;
    gap: 0.5rem;

    h2 {
      font-size: 1.35rem;
    }

    .custom-dropdown {
      width: 146px;
      height: 40px;

      .custom-select {
        font-size: 1.35rem;
        border: 2px solid white;
        border-radius: 4px;
        padding-inline: 0.75rem;
      }

      .arrow-wrapper {
        top: 5px;
        right: 9px;
      }
    }
  }

  .mobile-cart-wrapper {
    display: flex;
    align-items: center;
    margin-top: 0.85rem;
    margin-bottom: 0.5rem;
    justify-content: center;

    h2 {
      font-size: 1.35rem;
    }

    @include xs {
      display: none;
    }
  }

  .mobile-auth-wrapper {
    display: flex;
    margin-top: 1rem;

    a {
      text-decoration: none;
    }

    .account-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: white;
      border: 1px solid white;
      padding: 0.5rem 0.75rem;
      border-radius: 4px;
      margin-left: 0.65rem;
      transition: all 0.4s ease;
      justify-content: center;
      width: 220px;
      margin: auto;

      @include xs {
        width: 100%;
      }

      &:hover {
        background-color: white;
        color: #fa4032;

        svg {
          fill: #fa4032;
        }
      }

      p {
        font-weight: 700;
        line-height: 0.9;
      }
    }

    @include xs {
      flex-direction: column;
      gap: 0.5rem;
    }

    & button.filled {
      @include xs {
        margin-left: 0;
      }
    }

    & button {
      width: 100%;
    }

    & > * {
      flex: 1;
    }
  }

  hr:last-of-type {
    @include xs {
      display: none;
    }
  }
}
